@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav-div {
  border-bottom: 1px solid #eaeaea;
}

@media screen and (max-width: 768px) {
  .nav-div {
    display: none;
  }
}
